/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import './components/headerindex';
@import './base/variables';
@import './components/seccionuno';
@import './components/secciondos';
@import './components/secciontres';
@import './components/footer';
@import './components/botones';
@import './components/headercontacto';
@import './components/contacto';
@import './base/extends';
@import './base/mixin';
@import './base/mapas';