/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* Fin fuentes */

/* Reset CSS */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* Variables */
:root {
    --fonts-titulos:'PT Serif', serif;
    --fonts-textos: 'Open Sans', sans-serif;
    --color-violeta: #a6668c;
    --color-gris:#9a8c98;
    --color-azul:#649DE8;
}
/* Fin Variables */

body {
    background-color:#BEC5AD;
}


/* Header */
.contenedor-fluido {
    padding-bottom: 35%;
    background-image: url('./imagenes/imagenes//barril.jpg');
    background-size:cover;
    background-attachment: fixed;

}

.barra-navegacion {
    font-size: 1.1em;
    font-family: var(--fonts-textos);
    font-weight: bold;
    color: var(--color-gris);
    opacity: .9;
    text-decoration: none;
    list-style: none;
}

.barra-navegacion .nav-item .nav-link::after{
    content: '|';
    color: var(--color-violeta);
    font-size: 1.3em;
}

.barra-navegacion .nav-item .nav-link:hover {
    transform:scale(1.1);
    transition: all 4s;
}

.contenedor .la-red {
    color: #a6668c;
    font-size: 3em;
    font-family: var(--fonts-titulos);
    margin-top: -2.2%;
}

.contenedor .titulo {
    color:black;
    opacity: 0.6;
    font-size: 1.5em;
    font-family: var(--fonts-titulos);
    margin-top: -.5%;
}
/* Fin Header */

/* Seccion Uno */


#sec-uno {
    margin-top: 2%;
    margin-bottom: 10%;

}

.titulo {
    color: var(--color-violeta);
}

/* Fin Seccion Uno */

/* Seccion Dos */

#sec-dos {
    margin-bottom: 10%;
}

.titulo-dos {
    color:black;
    opacity: 0.6;
    font-size: 1.5em;
    font-family: var(--fonts-titulos);
}


/* Fin Seccion Dos */


@media only screen and (max-width: 480px) {
    .carrusel-imagenes {
        display: none;
        
    }
}

@media only screen and (min-width: 481px) and (max-width: 968px) {

}

/* Fin Medias Queries */


