/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* Fin fuentes */

/* Reset CSS */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* Variables */
:root {
    --fonts-titulos:'PT Serif', serif;
    --fonts-textos: 'Open Sans', sans-serif;
    --color-violeta: #a6668c;
    --color-gris:#9a8c98;
    --color-azul:#649DE8;
}
/* Fin Variables */

body {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}


/* Header */
.contenedor-fluido {
    padding-bottom: 35%;
    background-image: url('./imagenes/imagenes//barril.jpg');
    background-size:cover;
    background-attachment: fixed;
}
.barra-navegacion {
    font-size: 1.1em;
    font-family: var(--fonts-textos);
    font-weight: bold;
    color: var(--color-gris);
    opacity: .9;
    text-decoration: none;
    list-style: none;
}
.barra-navegacion .nav-item .nav-link::after{
    content: '|';
    color: var(--color-violeta);
    font-size: 1.3em;
}
.barra-navegacion .nav-item .nav-link:hover {
    transition: 1.7s;
    transform: scale(1.1);
    text-shadow: 0 0 1em var(--color-violeta);
}
.contenedor .la-red {
    color: #a6668c;
    font-size: 3em;
    font-family: var(--fonts-titulos);
    margin-top: -2.2%;
}
.contenedor .titulo {
    color:black;
    opacity: 0.6;
    font-size: 1.5em;
    font-family: var(--fonts-titulos);
    margin-top: -.5%;
}
/* Fin Header */

/* Seccion Uno */
#sec-uno {
    margin-top: 4%;
    margin-bottom: 4%;
}
.titulo {
    color: var(--color-violeta);
}
/* Fin Seccion Uno */

/* Seccion Dos */
#sec-dos {
    margin-bottom: 10%;
}
.titulo-dos {
    color:black;
    opacity: 0.6;
    font-size: 1.5em;
    font-family: var(--fonts-titulos);
}
/* Fin Seccion Dos */

/* Seccion Tres */
.lista-requisitos {
    list-style: none;
    
}
.lista-requisitos li::before{
    content:'*';
    color: var(--color-violeta);
    font-size: 1.3em;
}
/* Fin Seccion Tres */

/* Boton Whatsapp */
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
}
/* Fin Boton Whatsapp */

/*  Medias Queries */
@media only screen and (max-width: 480px) {
    .carrusel-imagenes {
        display: none;
    }
    .contenedor .contenedor-titulo {
        display: none;
    }
    .contenedor .contenedor-subtitulo {
        display: none;
    }
    .btn-wsp {
        display: none;
    }
}
@media only screen and (max-width: 991px) {
    .barra-navegacion {
    }
    .barra-navegacion .nav-item a {
        justify-content: center;
        display: inline-block;
        background-color: whitesmoke;
        opacity: 0.8;
        margin-bottom: 1em;
    }
    .barra-navegacion .nav-item .nav-link::after{
        display: none;
    }
    .contenedor .titulo {
        display:inline;
        background-color: whitesmoke;
        opacity: 0.8;
    }
}
/* Fin Medias Queries */


