@import '../base/variables';
/*Contacto*/
.seccion-contacto {
    .formulario{
        width: 40em;
        margin: auto;
        background: rgba(0, 0, 0, 0.4);
        padding: 0.6em 1.25em;
        margin-top: 1.25em;
        border-radius: 0.75em;
        font-family: $fonts-titulos;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        .contact{
            color: #fff;
            text-align: center;
            margin:0;
            font-size: 2.4em;
            margin-bottom: .7em;
            font-family: $fonts-textos;
        }
        input{
            width: 100%;
            margin-bottom: 1.25em;
            padding: 0.4em;
            font-size: 1em;
            border: none;
        }
        .text-area-contacto{
            width: 100%;
            margin-bottom: 1.25em;
            padding: 0.4em;
            font-size: 1em;
            border: none;
            min-height: 6.25em;
            max-height: 18.75em;
        }
        #boton-contacto{
            background: #31384a;
            color: #fff;
            padding: 1.25em;
        }
    }
}

/* Fin Contacto*/
