@import '../base/variables';
@import '../base/mapas';
/*Header*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10vh;
    background: url('../src/multimedia/imagenes/imagenes/barril.jpg');
    background-size: cover;
    padding-bottom: 40em;
    .container{
        max-width: 120em;
        width: 90%;
        margin: 0 auto;
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            font-size: 1.3em;
            .logo{
                padding-top: 1em;
            }
            ul{
                display: flex;
                li{
                    list-style: none;
                }
                a{
                    color:#000;
                    opacity: .8;
                    text-decoration: none;
                    padding: .3em 0;
                    margin: 0 1em;
                    position: relative;
                    letter-spacing: 2px;
                    &:last-child{
                        margin-right: 0;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $color-violeta;
                        left: 0;
                        transform: scaleX(0);
                        transition: all 1s;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $color-violeta;
                        left: 0;
                        transform: scaleX(0);
                        transition: all .5s;
                    }
                    &::before{
                        top: 0;
                        transform-origin: left;
                    }
                    &::after{
                        bottom: 0;
                        transform-origin: right;
                    }
                    &:hover::before{
                        transform: scaleX(1);
                    }
                    &:hover::after{
                        transform: scaleX(1);
                    }
                    
                }
            }
        }
    }
}






    /*Fin Header*/
