@import '../base/variables';
@import '../base/mapas';
/*Header*/
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: #8e9eab; 
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    header{
        .container-fluid{
            padding-bottom: 35%;
            background-image: url('../src/multimedia/imagenes/imagenes/barril.jpg');
            background-size:cover;
            background-attachment: fixed;
            .barra-navegacion{
                font-size: 1.1em;
                font-family: $fonts-textos;
                font-weight: bold;
                color: $color-gris;
                opacity: .9;
                text-decoration: none;
                list-style: none;
                .nav-item{
                    .nav-link{
                        &::after {
                            content: '|';
                            color: $color-violeta;
                            font-size: 1.3em;
                        }
                        &:hover {
                            transition: 1.7s;
                            transform: scale(1.1);
                            text-shadow: 0 0 1em $color-violeta;
                        }
                        @media screen and (max-width: 991px) {
                            justify-content: center;
                            display: inline-block;
                            background-color: whitesmoke;
                            opacity: 0.8;
                            margin-bottom: 1em;
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
            .contenedor{
                .contenedor-titulo{
                    .la-red{
                        color: map-get($titulo-standar, color );
                        font-size: map-get($titulo-standar, size);
                        font-family: map-get($titulo-standar, family);
                        margin-top: -2.2%;
                    }
                }
                .contenedor-subtitulo{
                    .titulo{
                        color:map-get($subtitulo-standar, color);
                        opacity: map-get($subtitulo-standar, opacity);
                        font-size: map-get($subtitulo-standar, size);
                        font-family:map-get($subtitulo-standar, family);
                        margin-top: -.5%;
                        @media screen and (max-width: 991px) {
                            display:inline;
                            background-color: whitesmoke;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
    }
    /*Fin Header*/
