@import '../base/variables';
/*Header*/
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: #8e9eab; 
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    
    .contenedor-fluido{
        padding-bottom: 35%;
        background-image: url('../../src/multimedia/imagenes/imagenes/barril.jpg');
        background-size:cover;
        background-attachment: fixed;
        .barra-navegacion{
            font-size: 1.1em;
            font-family: $fonts-textos;
            font-weight: bold;
            color: $color-gris;
            opacity: .9;
            text-decoration: none;
            list-style: none;
            .nav-item{
                .nav-link{
                    &::after {
                        content: '|';
                        color: $color-violeta;
                        font-size: 1.3em;
                    }
                    &:hover {
                        transition: 1.7s;
                        transform: scale(1.1);
                        text-shadow: 0 0 1em $color-violeta
                    }
                    @media screen and (max-width: 991px) {
                        justify-content: center;
                        display: inline-block;
                        background-color: whitesmoke;
                        opacity: 0.8;
                        margin-bottom: 1em;
                        &::after{
                            display: none;
                        }
                    }


                }
            }
        }
        .contenedor{
            .contenedor-titulo{
                .la-red{
                    color: #a6668c;
                    font-size: 3em;
                    font-family: $fonts-titulos;
                    margin-top: -2.2%;
                }
            }
            .contenedor-subtitulo{
                .titulo{
                    color:black;
                    opacity: 0.6;
                    font-size: 1.5em;
                    font-family: $fonts-titulos;
                    margin-top: -.5%;
                    @media screen and (max-width: 991px) {
                        display:inline;
                        background-color: whitesmoke;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    }
    /*Fin Header*/
