/*Seccion tres*/
.seccion-tres{
    margin-bottom: 10em ;
    .card{
        box-shadow: 7px 13px 57px #000;
        .card-body{
            .titulo-dos{
                color:black;
                opacity: 0.6;
                font-size: 1.5em;
                font-family: $fonts-titulos;
            }
            .lista-requisitos{
                list-style: none;
                li{
                    &::before {
                        content:'*';
                        color: $color-violeta;
                        font-size: 1.3em;
                    }
                }
            }
        }
        a{
            display: flex;
            text-decoration: none;
            button{
                position: relative;
                margin: auto;
                padding: 1em 1.8em;
                text-align: center;
                font-size: 1.1em;
                letter-spacing: 1px;
                text-decoration: none;
                color: $color-violeta;
                background: transparent;
                cursor: pointer;
                transition: ease-out 0.5s;
                border-radius: 3.75em;
                border: 2px solid $color-violeta;
                border-radius: 10px;
                box-shadow: inset 0 0 0 0 $color-violeta;
                &:hover{
                    color: white;
                    box-shadow: inset 0 -100px 0 0 $color-violeta;
                }
                &:active{
                    transform: scale(0.9);
                }
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
            }          
        }

    }
}
/*Fin Seccion tres*/