/*Seccion dos*/
.seccion-dos{
    margin-bottom: 5em;
    margin-top: 0em;
    border: 2px solid beige;
    border-radius: 7em ;
    box-shadow: 7px 13px 57px #000;
    h2{
        display: flex;
        justify-content: center;
        font-family: $fonts-titulos;
        color: $color-violeta;
        margin-bottom: 1em;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    .div-contenedor{
        .contenedor1{
            h3{
                display: flex;
                justify-content: center;
                font-family: $fonts-titulos;
                opacity: .8;
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
        .contenedor2{
            h3{
                display: flex;
                justify-content: center;
                font-family: $fonts-titulos;
                opacity: .8;
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
        .contenedor3{
            margin-bottom: 0.5em;
            h3{
                display: flex;
                justify-content: center;
                font-family: $fonts-titulos;
                opacity: .8;
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
    }
    .div-contenedor2{
        .contenedor4{
            h3{
                display: flex;
                justify-content: center;
                font-family: $fonts-titulos;
                opacity: .8;                
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
        .contenedor5{
            h3{
                display: flex;
                justify-content: center; 
                font-family: $fonts-titulos;
                opacity: .8;   
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
        .contenedor6{
            h3{
                display: flex;
                justify-content: center; 
                font-family: $fonts-titulos;
                opacity: .8;   
            }
            img{
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
    }
    
}
/*Fin seccion dos*/