/*Seccion Uno*/
.seccion-uno{
    background-color: #F1FAFF;;
    .container-card{
        max-width: 1200px;
        margin: auto;
        perspective: 1000px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .card-father{
            margin: 20px;
            perspective: 1000px;
            &:hover{
                .card{
                    transform: rotateY(180deg);
                }
            }
            .card{
                width: 350px;
                height: 400px;
                position: relative;
                transform-style: preserve-3d;
                transition: all 600ms;
                .card-front{
                    background-image: url('../../src/multimedia/imagenes/imagenes/fotohome.jpg');
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 20px;
                    .bg{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0,0,0,0.4);
                        border-radius: 20px;
                    }
                    .body-card-front{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        transform: translateZ(60px);
                    }
                }
                .card-back {
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 20px;
                    transform: rotateY(180deg);
                    background: white;
                    .body-card-back{
                        padding: 40px;
                        text-align: center;
                        transform: translateZ(60px);
                        p{
                            margin-top: 30px;
                            font-size: 18px;
                        }
                        input{
                            padding: 10px 40px;
                            margin-top: 30px;
                            font-size: 16px;
                            cursor: pointer;
                            border: none;
                            color: white;
                            background: $color-violeta;
                            box-shadow: 1px 1px 30px -5px $color-violeta;
                            border-radius: 10px;
                            transition: box-shadow 600ms;
                            &:hover{
                                box-shadow: 1px 1px 30px 0px $color-violeta
                            }
                        }
                    }
                }
                .card-front2{
                    background-image: url('../../src/multimedia/imagenes/imagenes/uvas.png');
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 20px;
                    .bg{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0,0,0,0.4);
                        border-radius: 20px;
                    }
                    .body-card-front{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        transform: translateZ(60px);
                    }
                }
                .card-back {
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 20px;
                    transform: rotateY(180deg);
                    background: white;
                    .body-card-back{
                        padding: 40px;
                        text-align: center;
                        transform: translateZ(60px);
                        p{
                            margin-top: 30px;
                            font-size: 18px;
                        }
                        input{
                            padding: 10px 40px;
                            margin-top: 30px;
                            font-size: 16px;
                            cursor: pointer;
                            border: none;
                            color: white;
                            background: $color-violeta;
                            box-shadow: 1px 1px 30px -5px $color-violeta;
                            border-radius: 10px;
                            transition: box-shadow 600ms;
                            &:hover{
                                box-shadow: 1px 1px 30px 0px $color-violeta
                            }
                        }
                    }
                }
                .card-front3{
                    background-image: url('../../src/multimedia/imagenes/imagenes/background-franquicias.png');
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 20px;  
                    .bg{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0,0,0,0.4);
                        border-radius: 20px;
                    }
                    .body-card-front{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        transform: translateZ(60px);
                    }              
                }
                .card-back {
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    border-radius: 20px;
                    transform: rotateY(180deg);
                    background: white;
                    .body-card-back{
                        padding: 40px;
                        text-align: center;
                        transform: translateZ(60px);
                        p{
                            margin-top: 30px;
                            font-size: 18px;
                        }
                        input{
                            padding: 10px 40px;
                            margin-top: 30px;
                            font-size: 16px;
                            cursor: pointer;
                            border: none;
                            color: white;
                            background: $color-violeta;
                            box-shadow: 1px 1px 30px -5px $color-violeta;
                            border-radius: 10px;
                            transition: box-shadow 600ms;
                            &:hover{
                                box-shadow: 1px 1px 30px 0px $color-violeta
                            }
                        }
                    }
                }
            }
        }
    }
}








/*Fin seccio Uno*/